<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} <!-- ini bagian judul --> {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes"> 

        {% block extracss %} <!-- ini bagian kalo ada tambahan css --> {% endblock %}

		<!-- css files -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

		<link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/font-google.css" rel="stylesheet">
		    
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}css/pages/signin.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
			    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			    		<span class="icon-bar"></span>
			    		<span class="icon-bar"></span>
			    		<span class="icon-bar"></span>
			    	</a>

			    	<a class="brand" href="#">Sistem Pendukung Keputusan Pemilihan Karyawan untuk Penerapan Program Kesehatan dan Keselamatan Kerja
			    	</a>
				        
			       <img src="{{ STATIC_URL }}img/logo.jpg" style="height:40px;">
			   </div>
			</div>
		</div>

		<div id="content">
			{% block content %} <!-- ini bagian konten isi web --> {% endblock %}
		</div>

		<!-- javascript files -->
		<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script src="{{ STATIC_URL }}js/signin.js"></script>
        {% block extrajs %} <!-- ini bagian kalo ada tambahan js --> {% endblock %}
	</body>
</html>