<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} <!-- ini bagian judul --> {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes"> 

        {% block extracss %} <!-- ini bagian kalo ada tambahan css --> {% endblock %}

		<!-- css files -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

		<link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/font-google.css" rel="stylesheet">
		    
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}css/pages/signin.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
			    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			    		<span class="icon-bar"></span>
			    		<span class="icon-bar"></span>
			    		<span class="icon-bar"></span>
			    	</a>

			    	<a class="brand" href="#">Sistem Pendukung Keputusan Pemilihan Karyawan untuk Penerapan Program Kesehatan dan Keselamatan Kerja
			    	</a>
				        
			       <img src="{{ STATIC_URL }}img/logo.jpg" style="height:40px;">
			   </div>
			</div>
		</div>

		<div class="subnavbar">
            <div class="subnavbar-inner">
                <div class="container">
                    <ul class="mainnav">
                        <li class="active"><a href="{% url 'menu-main' %}"><i class="icon-dashboard"></i><span>Home</span> </a> </li>
                        <li class="active"><a href="{% url 'menu-karyawan' %}"><i class="icon-eye-open"></i><span>Karyawan</span> </a> </li>
                        <li class="active"><a href="{% url 'menu-unit-kerja' %}"><i class="icon-facetime-video"></i><span>Unit Kerja</span> </a> </li>
                        <li class="active"><a href="{% url 'menu-kriteria' %}"><i class="icon-folder-open"></i><span>Kriteria</span> </a> </li>
                        <li class="active"><a href="{% url 'menu-pembobotan' %}"><i class="icon-fire"></i><span>Pembobotan</span> </a> </li>
                        <li class="active"><a href="{% url 'menu-perangkingan' %}"><i class="icon-bar-chart"></i><span>Perangkingan</span> </a> </li>
                        <li class="active"><a href="#"><i class="icon-list-alt"></i><span>Laporan</span> </a> </li>
                        <li class="dropdown active">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span >Akun</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'keluar' %}">Keluar</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

		<div id="content">
			{% block content %} <!-- ini bagian konten isi web --> {% endblock %}
		</div>

		<!-- javascript files -->
		<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script src="{{ STATIC_URL }}js/signin.js"></script>
        {% block extrajs %} <!-- ini bagian kalo ada tambahan js --> {% endblock %}
	</body>
</html>