{% extends "base-login.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}
<div class="account-container">
   <div class="content clearfix">
      <form action="" method="POST">
         {% csrf_token %}
         <h1>Login</h1>
         <div class="login-fields">
            <p>Silahkan masukan akun anda</p>
            <div class="field">
               <label for="username">Nama Pengguna</label>
               <input type="text" id="username" name="username" placeholder="Username" class="login username-field"/>
            </div> <!-- /field -->

             <div class="field">
               <label for="password">Password:</label>
               <input type="password" id="password" name="password" placeholder="Password" class="login password-field"/>
            </div> <!-- /password -->
         </div> <!-- /login-fields -->
         <div class="login-actions">
            <button class="button btn btn-success btn-large" id="login">Login</button>
         </div> <!-- .actions -->
         {% if messages%}
            {% for pesan in messages %}
                <span class="alert alert-error">
                    {{ pesan }}
                </span>
            {% endfor %}
         {% endif %}
      </form>
   </div> <!-- /content -->
</div> <!-- /account-container -->
{% endblock %}