{% extends "base.html" %}
{% block title %} SPK | Halaman Utama {% endblock %}

{% block content %}
<div class="main-inner">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Selamat Datang, {{ pengguna }}</h1>
            </div><!-- /widget -->
        </div>
    </div>
</div>
{% endblock %}