{% extends "base.html" %}
{% block title %} SPK | Perangkingan {% endblock %}

{% block content %}
<div style="margin-top:3%;" class="main-inner">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-user"></i>

                        <h3>Perangkingan</h3>
                    </div>

                    <div class="widget-content">
                        <div class="clearfix">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only"></span>
                                </button>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <span>Unit Kerja</span>
                        <select name="unit_kerja" id="unit_kerja">
                            <option value="-"> - Pilih Unit Kerja -</option>
                            {% for data in unit_kerja %}
                            <option value="{{ data.id }}">{{ data.nama_unit_kerja }}</option>
                            {% endfor %}
                        </select>

                        <form action="" method="post">
                            {% csrf_token %}
                            <table class="table table-striped table-bordered table-condensed" id="karyawan">
                                <tr>
                                    <th>Nama</th>
                                    <th>Pengetahuan Mesin</th>
                                    <th>Kondisi Psikis</th>
                                    <th>Kondisi Mesin</th>
                                    <th>Kondisi Lingkungan</th>
                                    <th>Kondisi Fisik</th>
                                    <th>Masa Kerja</th>
                                    <th>Pendidikan Karyawan</th>
                                    <th>Usia Karyawan</th>
                                </tr>
                            </table>
                            <input type="submit" value="Proses" class="btn btn-warning offset10"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    $("#unit_kerja").change(function () {
        var idUnit = $(this).val();
        if (idUnit === '-') {
            $("tr").next().remove();
        }
        $.ajax({
            type        : 'GET',
            url         : 'unit/' + idUnit,
            dataType    : 'json',
            success     : function(data) {
                $("tr").next().remove();
                $.each(data, function(index, element) {
                    $("#karyawan").last().append($("<tr>")
                        .append("<td>" + data[index] + "</td>")
                        .append("<td><input type='text' name='pengetahuan_mesin' class='span1'/></td>")
                        .append("<td><input type='text' name='kondisi_psikis' class='span1'/></td>")
                        .append("<td><input type='text' name='kondisi_mesin' class='span1'/></td>")
                        .append("<td><input type='text' name='kondisi_lingkungan' class='span1'/></td>")
                        .append("<td><input type='text' name='kondisi_fisik' class='span1'/></td>")
                        .append("<td><input type='text' name='masa_kerja' class='span1'/></td>")
                        .append("<td><input type='text' name='pendidikan_karyawan' class='span1'/></td>")
                        .append("<td><input type='text' name='usia_karyawan' class='span1'/></td>")
                    );
                });
            }
        });
    });
});

</script>
{% endblock %}