{% extends "base.html" %}
{% block title %} SPK | Karyawan {% endblock %}

{% block content %}
<div class="main-inner" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Data Karyawan</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">
                        <a href="{% url 'spk.views.menu_karyawan_tambah' %}" class="btn btn-primary" id="tambah">Tambah</a>
                        <div class="clearfix">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only"></span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if karyawan %}
                            <table class="table table-striped"  id="data-pengguna" >
                                <thead>
                                    <tr>
                                        <td>Foto</td>
                                        <td>NIK</td>
                                        <td>Nama Karyawan</td>
                                        <td>Jenis Kelamin</td>
                                        <td>Tanggal Masuk</td>
                                        <td>Unit Kerja</td>
                                        <td>Aksi</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in karyawan %}
                                        <tr>
                                            <td>
                                                {% if data.foto %}
                                                    <img src="{{ MEDIA_URL }}{{ data.foto }}" width="70"/>
                                                {% endif %}
                                            </td>
                                            <td>{{ data.nik }}</td>
                                            <td>{{ data.nama|upper }}</td>
                                            <td>{{ data.jenis_kelamin }}</td>
                                            <td>{{ data.tanggal_masuk|date:"d F Y" }}</td>
                                            <td>{{ data.unit_kerja.nama_unit_kerja }}</td>
                                            <td>
                                                <a href="{% url 'perbarui-karyawan' data.nik %}" class="btn btn-info">Sunting</a>
                                                <a href="{% url 'hapus-karyawan' data.nik %}" class="btn btn-danger" onclick="return confirm('Apakah anda yakin hapus data {{ data.nama }}?');">Hapus</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <!--paging-->
                            <div>
                                {% if karyawan.has_previous %}
                                    <a href="?page={{ karyawan.previous_page_number }}">Sebelum</a>
                                {% endif %}

                                <span>
                                    Halaman {{ karyawan.number }} dari {{ karyawan.paginator.num_pages }}.
                                </span>

                                {% if karyawan.has_next %}
                                    <a href="?page={{ karyawan.next_page_number }}">Selanjutnya</a>
                                {% endif %}
                            </div>
                        {% else %}
                            <center><h2>Data Karyawan tidak tersedia, silahkan tambah data</h2></center>
                        {% endif %}
                    </div><!--widget-content-->
                </div><!-- /widget -->
            </div>
        </div>
    </div>
</div>
{% endblock %}