{% extends "base.html" %}
{% block title %} SPK | Pembobotan {% endblock %}

{% block content %}
<div class="main-inner" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Pembobotan</h3>
                    </div>

                    <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="clearfix">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only"></span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if hit %}
                            <table class="table table-striped table-bordered table-condensed">
                                <tr>
                                    <th>PENGETAHUAN MESIN</th>
                                    <th>KONDISI PSIKIS</th>
                                    <th>KONDISI MESIN</th>
                                    <th>KONDISI LINGKUNGAN</th>
                                    <th>KONDISI FISIK</th>
                                    <th>MASA KERJA</th>
                                    <th>PENDIDIKAN KARYAWAN</th>
                                    <th>USIA KARYAWAN</th>
                                </tr>
                                <tr>
                                    {% for i in bobot %}
                                        <td>{{ i }}</td>
                                    {% endfor %}
                                </tr>
                            </table>
                            <a href="{% url 'hapus-bobot' %}" class="btn btn-danger" onclick="return confirm('Apakah anda yakin hapus semua bobot kriteria ??');">Hapus Bobot</a>
                        {% else %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <table class="table table-striped table-bordered table-condensed">
                                    <tr>
                                        <th></th>
                                        <th class="span1">Pengetahuan Mesin</th>
                                        <th class="span1">Kondisi Psikis</th>
                                        <th class="span1">Kondisi Mesin</th>
                                        <th class="span1">Kondisi Lingkungan</th>
                                        <th class="span1">Kondisi Fisik</th>
                                        <th class="span1">Masa Kerja</th>
                                        <th class="span1">Pendidikan Karyawan</th>
                                        <th class="span1">Usia Karyawan</th>
                                    </tr>
                                    <tr>
                                        <td>Pengetahuan Mesin</td>
                                        <td>
                                            <select name="penget_mesin0" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="penget_mesin1" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="penget_mesin2" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="penget_mesin3" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="penget_mesin4" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="penget_mesin5" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="penget_mesin6" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="penget_mesin7" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kondisi Psikis</td>
                                        <td><input type="text" name="kondi_psikis0" class="span1" readonly="true" value="0"/></td>
                                        <td>
                                            <select name="kondi_psikis1" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_psikis2" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_psikis3" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_psikis4" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_psikis5" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_psikis6" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_psikis7" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kondisi Mesin</td>
                                        <td><input type="text" name="kondi_mesin0" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="kondi_mesin1" class="span1" readonly="true" value="0"/></td>
                                        <td>
                                            <select name="kondi_mesin2" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_mesin3" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_mesin4" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_mesin5" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_mesin6" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_mesin7" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kondisi Lingkungan</td>
                                        <td><input type="text" name="kondi_lingku0" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="kondi_lingku1" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="kondi_lingku2" class="span1" readonly="true" value="0"/></td>
                                        <td>
                                            <select name="kondi_lingku3" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_lingku4" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_lingku5" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_lingku6" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_lingku7" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kondisi Fisik</td>
                                        <td><input type="text" name="kondi_fisik0" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="kondi_fisik1" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="kondi_fisik2" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="kondi_fisik3" class="span1" readonly="true" value="0"/></td>
                                        <td>
                                            <select name="kondi_fisik4" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_fisik5" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_fisik6" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="kondi_fisik7" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Masa Kerja</td>
                                        <td><input type="text" name="masa_kerja0" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="masa_kerja1" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="masa_kerja2" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="masa_kerja3" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="masa_kerja4" class="span1" readonly="true" value="0"/></td>
                                        <td>
                                            <select name="masa_kerja5" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="masa_kerja6" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="masa_kerja7" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Pendidikan Karyawan</td>
                                        <td><input type="text" name="pendi_kary0" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="pendi_kary1" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="pendi_kary2" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="pendi_kary3" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="pendi_kary4" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="pendi_kary5" class="span1" readonly="true" value="0"/></td>
                                        <td>
                                            <select name="pendi_kary6" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="pendi_kary7" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Usia Karyawan</td>
                                        <td><input type="text" name="usia0" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="usia1" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="usia2" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="usia3" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="usia4" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="usia5" class="span1" readonly="true" value="0"/></td>
                                        <td><input type="text" name="usia6" class="span1" readonly="true" value="0"/></td>
                                        <td>
                                            <select name="usia7" class="span1">
                                                {% for i in dropdown_value %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td><input class="span1" name="jml_0" readonly="true" value="0" type="text"/></td>
                                        <td><input class="span1" name="jml_1" readonly="true" value="0" type="text"/></td>
                                        <td><input class="span1" name="jml_2" readonly="true" value="0" type="text"/></td>
                                        <td><input class="span1" name="jml_3" readonly="true" value="0" type="text"/></td>
                                        <td><input class="span1" name="jml_4" readonly="true" value="0" type="text"/></td>
                                        <td><input class="span1" name="jml_5" readonly="true" value="0" type="text"/></td>
                                        <td><input class="span1" name="jml_6" readonly="true" value="0" type="text"/></td>
                                        <td><input class="span1" name="jml_7" readonly="true" value="0" type="text"/></td>
                                    </tr>
                                    <tr>
                                        <th>Bobot</th>
                                        <td><input class="span1" name="bobot_pengetahuan_mesin" type="text" readonly="true" value="0"/></td>
                                        <td><input class="span1" name="bobot_kondisi_psikis" type="text" readonly="true" value="0"/></td>
                                        <td><input class="span1" name="bobot_kondisi_mesin" type="text" readonly="true" value="0"/></td>
                                        <td><input class="span1" name="bobot_kondisi_lingkungan" type="text" readonly="true" value="0"/></td>
                                        <td><input class="span1" name="bobot_kondisi_fisik" type="text" readonly="true" value="0"/></td>
                                        <td><input class="span1" name="bobot_masa_kerja" type="text" readonly="true" value="0"/></td>
                                        <td><input class="span1" name="bobot_pendidikan" type="text" readonly="true" value="0"/></td>
                                        <td><input class="span1" name="bobot_usia" type="text" readonly="true" value="0"/></td>
                                    </tr>
                                </table>
                                <input type="submit" value="Proceed" class="btn btn-success" disabled="true" />
                            </form>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}ahp.js"></script>
{% endblock %}