{% extends "base.html" %}
{% block title %} SPK | Kriteria {% endblock %}

{% block content %}
<div class="main-inner" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-user"></i>

                        <h3>Data Kriteria</h3>
                    </div>
                    <!-- /widget-header -->

                    <div class="widget-content">

                        <div class="clearfix">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only"></span>
                                </button>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% if kriteria %}
                        <table class="table table-striped" id="data-pengguna">
                            <thead>
                            <tr>
                                <td>Nama Kriteria</td>
                                <td>Tipe Preferensi</td>
                                <td>Max / Min</td>
                                <td>Parameter P</td>
                                <td>Parameter Q</td>
                                <td>Aksi</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in kriteria %}
                            <tr>
                                <td>{{ data.nama_kriteria }}</td>
                                <td>{{ data.tipe_preferensi }}</td>
                                <td>{{ data.max_min|upper }}</td>
                                <td>{{ data.parameter_p }}</td>
                                <td>{{ data.parameter_q }}</td>
                                <td>
                                    <a href="{% url 'perbarui-kriteria' data.id %}" class="btn btn-info">Sunting</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% else %}
                        <center><h2>Data Kriteria tidak tersedia, silahkan tambah data</h2></center>
                        {% endif %}
                    </div>
                    <!--widget-content-->
                </div>
                <!-- /widget -->
            </div>
        </div>
    </div>
</div>
{% endblock %}