{% extends "base.html" %}
{% block title %} SPK | Karyawan {% endblock %}

{% block extracss %}
    <link href="{{ STATIC_URL }}jqueryui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}jqueryui/jquery-ui.structure.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}jqueryui/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="main-inner" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Tambah Karyawan</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">
                        <div id="ubah">
                            <form id="edit-profile" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="control-group">
                                        <!--<label class="control-label">Nama Unit Kerja</label>-->
                                        <span>{{ kesalahan }}</span>
                                        <div class="controls">
                                            {{ form.as_p }}
                                        </div> <!-- /controls -->
                                    </div> <!-- /control-group -->

                                    <div class="control-group">
                                        <div class="controls">
                                            <input type="submit" value="{{ button }}" class="btn btn-info">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div><!--end idubah-->
                    </div><!--widget-content-->
                </div><!-- /widget -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}jqueryui/external/jquery/jquery.js"></script>
    <script src="{{ STATIC_URL }}jqueryui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}jqueryui/jquery.ui.datepicker.validation.min.js"></script>
    <script>
        $("#id_tanggal_masuk").datepicker({
            dateFormat:'yy-mm-dd',
            maxDate:0,
            showAnim:'slideDown',
            changeMonth:'true',
            changeYear:'true'
        });
    </script>
{% endblock %}