{% extends "base.html" %}
{% block title %} SPK | Unit Kerja {% endblock %}

{% block content %}
<div class="main-inner" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Tambah Unit Kerja</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">
                        <div id="ubah">
                            <form id="edit-profile" class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="control-group">
                                        <!--<label class="control-label">Nama Unit Kerja</label>-->
                                        <span>{{ kesalahan }}</span>
                                        <div class="controls">
                                            {{ form.as_p }}
                                        </div> <!-- /controls -->
                                    </div> <!-- /control-group -->

                                    <div class="control-group">
                                        <div class="controls">
                                            <input type="submit" value="{{ button }}" class="btn btn-info">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div><!--end idubah-->
                    </div><!--widget-content-->
                </div><!-- /widget -->
            </div>
        </div>
    </div>
</div>
{% endblock %}