{% extends "base.html" %}
{% block title %} SPK | Kriteria {% endblock %}

{% block content %}
<div class="main-inner" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-user"></i>

                        <h3>Perbarui Kriteria</h3>
                    </div>
                    <!-- /widget-header -->

                    <div class="widget-content">
                        <div id="ubah">
                            <form id="edit-profile" class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            {{ form.as_p }}
                                        </div>
                                        <!-- /controls -->
                                    </div>
                                    <!-- /control-group -->

                                    <div class="control-group">
                                        <div class="controls">
                                            <input type="submit" value="Perbarui" class="btn btn-info">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!--end idubah-->
                    </div>
                    <!--widget-content-->
                </div>
                <!-- /widget -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_tipe_preferensi").change(function() {
            var nilai = this.value;
            console.log(nilai);
            if (nilai === 'I') {
                $("#id_parameter_p").val(0).attr("readonly", true);
                $("#id_parameter_q").val(0).attr("readonly", true);
            } else if (nilai === 'II') {
                $("#id_parameter_p").val(0).attr("readonly", true);
                $("#id_parameter_q").val("");
            } else if (nilai === 'III') {
                $("#id_parameter_p").val("");
                $("#id_parameter_q").val(0).attr("readonly", true);
            } else {
                $("#id_parameter_p").val("").attr("readonly", true);
                $("#id_parameter_q").val("").attr("readonly", true);
            }
        });
    });
</script>
{% endblock %}