{% extends "base.html" %}
{% block title %} SPK | Unit Kerja {% endblock %}

{% block content %}
<div class="main-inner" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Data Unit kerja</h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">
                        <a href="{% url 'tambah-unit-kerja' %}" class="btn btn-primary" id="tambah">Tambah</a>
                        <div class="clearfix">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only"></span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if uker %}
                            <table class="table table-striped"  id="data-pengguna" >
                                <thead>
                                    <tr>
                                        <td>ID Unit Kerja</td>
                                        <td>Nama Unit Kerja</td>
                                        <td>Aksi</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in uker %}
                                        <tr>
                                            <td>{{ data.id }}</td>
                                            <td>{{ data.nama_unit_kerja }}</td>
                                            <td>
                                                <a href="{% url 'perbarui-unit-kerja' data.id %}" class="btn btn-info">Sunting</a>
                                                <a href="{% url 'hapus-unit-kerja' data.id %}" class="btn btn-danger" onclick="return confirm('Apakah anda yakin hapus data {{ data.nama_unit_kerja }}?');">Hapus</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <center><h2>Data Unit Kerja tidak tersedia, silahkan tambah data</h2></center>
                        {% endif %}
                    </div><!--widget-content-->
                </div><!-- /widget -->
            </div>
        </div>
    </div>
</div>
{% endblock %}