{% extends "base-login.html" %}
{% block title %} Akses ditolak {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="error-container">
                <h1>401</h1>

                <h2>Maaf anda tidak di izinkan mengakses halaman ini</h2>
                <h2>Silahkan login terlebih dahulu</h2>

                <div class="error-actions">
                    <a href="{% url 'spk.views.login' %}" class="btn btn-large btn-primary">
                        <i class="icon-chevron-left"></i>
                        &nbsp;
                        Halaman Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}